/* Filename - App.css */
/* Contains the Form and Page Styling */

body {
  background: #f3f3f3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.App {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 400px;
  text-align: center;
  transition: transform 0.2s;
}

h1 {
  font-size: 24px;
  color: #327c35;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: stretch;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

label {
  font-size: 15px;
  text-align: left;
  color: #555;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

select {
  background-color: #fff;
  cursor: pointer;
}

button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
  background-color: #4caf50;
  font-size: 16px;
  width: 100%;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #45a049;
}

button[type="button"] {
  background-color: #f44336;
}

button[type="button"]:hover {
  background-color: #d73833;
}
